/*.contenedor {
  width: 1000px;
  margin: auto;
  background-color: rgba(255,255,255,0.3);
  border-radius: 25px;
}*/

h1 {
  font-family: "indie flower", sans-serif;
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}

ul {
  margin-top: 12px;
}

.links li {
  display: inline;
  margin: 7px;
}

.menu {
  text-decoration: none;
  font-family: "indie flower", sans-serif;
  color: white;
  font-size: 22px;
}

.menu:hover {
  text-decoration: none;
  font-family: "indie flower", sans-serif;
  color: rgb(0,205,255);
  font-size: 22px;
}

.navbar {
  display: flex;
  padding: 0 10px 0;
  background: black;
  justify-content: space-between;
  align-items: center;
}

.presentacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.perfil {
  transition: all 1s ease-out;
  background-image: url('../img/perfil01.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.perfil:hover {
  transition: all 1s ease;
  background-image: url('../img/perfil02.jpg');
}

header {
  background-color: black;
  height: 70px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}


.descripcion {
  font-family: "Comfortaa", sans-serif;
  font-size: 17px;
  margin: 15px 50px 5px 20px;
}

.cuadroh2 {
  background-color: rgba(50, 50, 50, 0.5);
}

h2 {
  font-family: "indie flower", sans-serif;
  font-size: 25px;
  color: black;
  margin: 20px 0px 5px 20px;
}

.familia {
  font-family: sans-serif;
  font-size: 15px;
  margin: 6px 20px 10px 20px;
}

.img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.images {
  width: 300px;
  transition: all 1s ease-out;
  padding: 3px;
  border: 3px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.images:hover {
  transition: all 1s ease;
  border: 3px solid red;
}

.chaplin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
}

iframe {
  margin: 5px;
  padding: 3px;
  border: 3px solid black;
  margin-left: 12px
}

.historia2 {
  margin-top: auto;
  margin-bottom: auto;
  font-family: sans-serif;
  font-size: 15px;

}

footer {
  display: flex;
  height: 51px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: black;
  padding: 0 20px 0 20px;
  letter-spacing: 3px;
  color: #FFFFFF;
  }

  .social .fa {
    font-size: 30px;
    transition: all 0.5s ease-out;
    margin: 0 5px 0 5px;
    color: white;
  }

  .social .fa:hover {
    transition: all 0.5s ease-in;
    transform: scale(1.4);
    color: rgb(0,205,255);
  }


.be {
  font-family: "indie flower", sans-serif;
  font-size: 25px;
  color: white;
  margin: 1px 0px 1px 20px;
}
