body {
  background: linear-gradient(#5d95ef,#ff63f4);
}

.contenedor {
  width: 1000px;
  margin: auto;
  background-color: rgba(255,255,255,0.3);
  border-radius: 25px;
}

h1 {
  font-family: "indie flower", sans-serif;
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}

ul {
  margin-top: 12px;
}

.links li {
  display: inline;
  margin: 7px;
}

.menu {
  text-decoration: none;
  font-family: "indie flower", sans-serif;
  color: white;
  font-size: 22px;
}

.menu:hover {
  text-decoration: none;
  font-family: "indie flower", sans-serif;
  color: rgb(0,205,255);
  font-size: 22px;
}

.navegador {
  display: flex;
  padding: 0 10px 0;
  background: black;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.perfil {
  background-image: url('../img/perfil01.jpg');
  border-radius: 100%;
  margin: 44px 0px 10px 30px;
  width: 350px;
  height: 350px;
  transition: all 1s ease-out;
}

.perfil:hover {
  transition: all 1s ease;
  width: 350px;
  height: 350px;
  background-image: url('../img/perfil02.jpg');
}

header {
  background-color: black;
  height: 70px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.yo1 {
  border-top: 1px dotted white;
  padding-top: 10px;
  font-family: "Comfortaa", sans-serif;
  font-size: 17px;
  margin: 15px 50px 5px 20px;
}

.yo2 {
  font-size: 15px;
  border-bottom: 1px dotted white;
  padding-bottom: 10px;
}

.presentacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.descripcion {
  font-family: "Comfortaa", sans-serif;
  font-size: 17px;
  margin: 15px 50px 5px 20px;
}

.cuadroh2 {
  background-color: rgba(50, 50, 50, 0.5);
}

h2 {
  font-family: "indie flower", sans-serif;
  font-size: 25px;
  color: black;
  margin: 20px 0px 5px 20px;
}

.familia {
  font-family: sans-serif;
  font-size: 15px;
  margin: 6px 20px 10px 20px;
}

.img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 12px;
}

.images {
  width: 220px;
  transition: all 1s ease-out;
  padding: 3px;
  border: 3px solid black;
}

.images:hover {
  transition: all 1s ease;
  border: 3px solid red;
}

.chaplin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
}

iframe {
  margin: 5px;
  padding: 3px;
  border: 3px solid black;
  margin-left: 12px;
}

.historia2 {
  width: 365px;
  font-family: sans-serif;
  font-size: 15px;
  margin-right: 20px;
}

footer {
  display: flex;
  height: 51px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: black;
  padding: 0 20px 0 20px;
  letter-spacing: 3px;
  color: #FFFFFF;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  }

  .social .fa {
    font-size: 30px;
    transition: all 0.5s ease-out;
    margin: 0 5px 0 5px;
    color: white;
  }

  .social .fa:hover {
    transition: all 0.5s ease-in;
    transform: scale(1.4);
    color: rgb(0,205,255);
  }


.be {
  font-family: "indie flower", sans-serif;
  font-size: 25px;
  color: white;
  margin: 1px 0px 1px 20px;
}
