.bodyindex {
  background-image: url("../img/index1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.bodylink {
  background-color: rgb(50,50,50)
}

h1 {
  font-family: "comfortaa", "Century Gothic", sans-serif;
  font-size: 27px;
  color: white;
  margin-bottom: 20px;
}

.dg {
  font-family: "comfortaa", "Century Gothic", sans-serif;
  font-size: 27px;
  color: grey;
  margin-bottom: 20px;
}

ul {
  margin-top: 12px;
}

.links li {
  display: inline;
  margin: 7px;
}

.menu {
  text-decoration: none;
  font-family: "comfortaa", "Century Gothic", sans-serif;
  color: white;
  font-size: 17px;
}

.menu:hover {
  text-decoration: none;
  font-family: "comfortaa", "Century Gothic", sans-serif;
  color: rgb(0,205,255);
  font-size: 17px;
}

.navbar {
  display: flex;
  padding: 0 10px 0;
  background: black;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: "comfortaa", "Century Gothic", sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.images {
  width: 350px;
  box-shadow: 8px 8px 15px #909090;
  margin: 20px;
}

.imageslink {
  width: 350px;
  transition: all 1s ease-out;
  box-shadow: 8px 8px 15px #909090;
  margin: 20px;
}

.imageslink:hover {
  width: 350px;
  transition: all 1s ease-out;
  box-shadow: 8px 8px 15px black;
  margin: 20px;
}

.images2col {
  width: 696px;
  transition: all 1s ease-out;
  box-shadow: 8px 8px 15px #909090;
  margin: 20px;
}

.images3 {
  height: 550px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.descripcion {
  font-family: "comfortaa", "Century Gothic", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
}

footer {
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  background: black;
  padding: 0 20px 0 20px;
  color: #FFFFFF;
  }

.footersection {
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background: black;
  padding: 0 20px 0 20px;
  color: #FFFFFF;
  }

  .social .fa {
    font-size: 30px;
    transition: all 0.5s ease-out;
    margin: 0 5px 0 5px;
    color: white;
  }

  .social .fa:hover {
    transition: all 0.5s ease-in;
    transform: scale(1.4);
    color: rgb(0,205,255);
  }

  .social2 .fa {
    font-size: 20px;
    transition: all 0.5s ease-out;
    margin: 0 5px 0 5px;
    color: grey;
  }

.sitios2 {
  font-family: "comfortaa", "Century Gothic", sans-serif;
  font-size: 14px;
  color: grey;
  margin: 1px 4px 1px 20px;
}

@media all and (max-width: 500px){
	.images3 { width:90%; height: 90%;}
  .images { width:90%; height: 90%;}
  .imageslink { width:90%; height: 90%;}
  .images2col { width:90%; height: 90%;}
  .bodyindex { background-image: url("../img/index2.jpg"); background-size: 130%;}
}

@media all and (max-width: 1025px){
  .images3 { width:90%; height: 90%;}
  .images { width:90%; height: 90%;}
  .imageslink { width:90%; height: 90%;}
  .images2col { width:90%; height: 90%;}
  .bodyindex { background-image: url("../img/index2.jpg");}
}
